#include "windows.h"

#include "SweepMiner/resource.h"
#include "SweepMiner/targetver.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)

LANGUAGE 9, 1
1 RT_MANIFEST "SweepMiner.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Resources
//

IDR_MINE        RCDATA  "images/mine.png"
IDR_FLAG        RCDATA  "images/flag.png"
IDR_QUESTION    RCDATA  "images/question.png"
IDR_CLICKED     WAVE    "sounds/click.wav"
IDR_FLAGGED     WAVE    "sounds/flag.wav"
IDR_EXPLOSION   WAVE    "sounds/explosion.wav"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_SWEEP_MINER MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&New\tF2",          IDM_GAME_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Beginner",         IDM_GAME_BEGINNER
        MENUITEM "&Intermediate",     IDM_GAME_INTERMEDIATE
        MENUITEM "&Expert",           IDM_GAME_EXPERT
        MENUITEM "&Custom...",        IDM_GAME_CUSTOM
        MENUITEM SEPARATOR
        MENUITEM "&Marks (?)",        IDM_GAME_MARKS
        MENUITEM "C&olor",            IDM_GAME_COLOR
        MENUITEM "&Sound",            IDM_GAME_SOUND
        MENUITEM SEPARATOR
        MENUITEM "&Best Times...",    IDM_GAME_BEST_TIMES
        MENUITEM SEPARATOR
        MENUITEM "E&xit",             IDM_GAME_EXIT
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "GitHub",            IDM_HELP_GITHUB
        MENUITEM "Report an Issue",   IDM_HELP_REPORT_ISSUE
        MENUITEM SEPARATOR
        MENUITEM "&About...\tF1",     IDM_HELP_ABOUT
    END

    POPUP "&Debug"
    BEGIN
        MENUITEM "Show Mines",        IDM_DEBUG_SHOW_MINES
        MENUITEM "Show Counts",       IDM_DEBUG_SHOW_COUNTS
        MENUITEM "Reveal All",        IDM_DEBUG_REVEAL_ALL
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
   IDC_SWEEP_MINER          "SWEEPMINER"
   IDS_APP_TITLE            "SweepMiner"
   IDS_GITHUB_URL           "https://github.com/KasimAhmic/sweepminer"
   IDS_GITHUB_ISSUES_URL    "https://github.com/KasimAhmic/sweepminer/issues"
END

#endif
